<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Success Message</title>
</head>
<body class="bg-gray-100">
    <div class="max-w-lg mx-auto mt-10">
        <div class="bg-green-100 text-green-800 p-4 rounded-md">
            <h1 class="text-lg"><%= msg %></h1>
            <p class="text-sm mt-2 text-green-600 cursor-pointer"><a href="<%= url %>">点击跳转</a></p>
        </div>
    </div>
</body>
</html>
